<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/common.css" />
<title>edit page</title>
<style>
form {
	width: 600px;
	margin: auto;
	padding: 5px 20px;
	box-shadow: 2px 2px 5px gray;
}

td {
	min-width: 100;
	padding: 5px;
}

td:nth-child(1) {
	text-align: right;
}

button {
	margin: 5px 0 20px 20px;
}
</style>
</head>
<body>
	<div class="container">
		<form method="post" th:object="${course}">
			<h1 th:text="${course.id>0 ?'강좌수정' :'강좌 등록'}"></h1>
			<table>
				<tr>
					<td>년도:</td>
					<td><input type="text" th:field="*{year}" /><br></td>
				</tr>
				<tr>
					<td>학기:</td>
					<td><input type="text" th:field="*{semester}"><br></td>
				</tr>
				<tr>
					<td>이수구분:</td>
					<td><input type="text" th:field="*{gubun}"><br></td>
				</tr>
				<tr>
					<td>강좌코드:</td>
					<td><input type="text" th:field="*{code}"><br></td>
				</tr>
				<tr>
					<td>강좌명:</td>
					<td><input type="text" th:field="*{title}"><br></td>
				</tr>
				<tr>
					<td>담당교수:</td>
					<td><select th:field="*{professorId}"><option
								th:each="dt : ${professors}" th:value="${dt.id}"
								th:text="${dt.name}"></option></select> <br></td>
				</tr>
				<tr>
					<td>시간:</td>
					<td><input type="text" th:field="*{sigan}"><br></td>
				</tr>
			</table>
			<hr />
			<button type="submit" class="btn">저장</button>

			<a th:if="${course.id>0}" th:href="${'delete?id=' + course.id}"
				class="btn" onclick="return confirm('삭제하시겠습니까?')">삭제</a> <a
				href="list" class="btn">목록으로</a>
		</form>
	</div>
</body>
</html>